
<h2>Publish Event</h2>

<form method="post">
    
    <div class="mb-3">
        <label for="eventBusName" class="form-label">Bus Name</label>
        <input type="text" class="form-control" id="eventBusName" name="eventBusName">
    </div>
    <div class="mb-3">
        <label for="source" class="form-label">Source</label>
        <input type="text" class="form-control" id="source" name="source">
    </div>
    <div class="mb-3">
        <label for="detailType" class="form-label">Detail Type</label>
        <input type="text" class="form-control" id="detailType" name="detailType">
    </div>
    <div class="mb-3">
        <label for="detail" class="form-label">Detail</label>
        <textarea class="form-control" id="detail" rows="3" name="detail"></textarea>
    </div>

    <button class="btn btn-outline-secondary" type="reset">Reset</button>
    <button class="btn btn-outline-success" type="submit">Create</button>
</form>
