
<h2>Create Rule</h2>

<form method="post">
    
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" id="description" name="description">
    </div>
    <div class="mb-3">
        <label for="scheduleExpression" class="form-label">Schedule Expresstion</label>
        <input type="text" class="form-control" id="scheduleExpression" name="scheduleExpression" placeholder="rate(2 minutes)">
    </div>

    <button class="btn btn-outline-secondary" type="reset">Reset</button>
    <button class="btn btn-outline-success" type="submit">Create</button>
</form>
