<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="min-height: 100vh; height: 100%;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <h4><i class="bi bi-stack me-2"></i></h4>
        <span class="fs-4">Local Admin</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        {{{SideMenuItems}}}
    </ul>
</div>