
<h2>Create Template</h2>

<form method="post">
    
    <div class="mb-3">
        <label for="templateName" class="form-label">Template Name</label>
        <input type="text" class="form-control" id="templateName" name="templateName">
    </div>


    <div class="mb-3">
        <label for="subject" class="form-label">Subject</label>
        <input type="text" class="form-control" id="subject" name="subject">
    </div>

    <div class="mb-3">
        <label for="html" class="form-label">Html</label>
        <textarea class="form-control" id="html" rows="3" name="html"></textarea>
    </div>

    <button class="btn btn-outline-secondary" type="reset">Reset</button>
    <button class="btn btn-outline-success" type="submit">Create</button>
</form>