

APP_PORT=8443
LOCALSTACK_ENDPOINT=http://localhost:4566
LOCALSTACK_REGION=us-west-2

LOCALSTACK_DOCKER_NAME=localstack-admin
LOCALSTACK_SERVICES=acm,apigateway,cloudwatch,config,dynamodb,ec2,events,iam,kms,lambda,resource-groups,s3,secretsmanager,ses,sns,sqs,ssm,stepfunctions
LOCALSTACK_DEBUG=1
LOCALSTACK_VOLUME_DIR=.localstack