
<h2>Create State Machine</h2>

<form method="post">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name">
    </div>

    <div class="mb-3">
        <label for="roleArn" class="form-label">Role Arn</label>
        <input type="text" class="form-control" id="roleArn" name="roleArn">
    </div>

    <div class="mb-3">
        <label for="definition" class="form-label">Definition</label>
        <textarea class="form-control" id="definition" rows="3" name="definition"></textarea>
    </div>

    <button class="btn btn-outline-secondary" type="reset">Reset</button>
    <button class="btn btn-outline-success" type="submit">Create</button>
</form>
