
<h4>Create Website - {{bucket}}</h4>

<form method="post">

    <input type="text" name="bucket" value="{{bucket}}" style="display: none;" />

    <div class="mb-3">
        <label for="index" class="form-label">Index File</label>
        <input type="text" class="form-control" id="index" name="index" value="index.html">
    </div>
    <div class="mb-3">
        <label for="error" class="form-label">Error File</label>
        <input type="text" class="form-control" id="error" name="error" value="error.html">
    </div>

    <button class="btn btn-outline-secondary" type="reset">Reset</button>
    <button class="btn btn-outline-success" type="submit">Create</button>
</form>

