
<h2>Create Log Group</h2>

<form method="post">
    
    <div class="mb-3">
        <label for="groupName" class="form-label">Group Name</label>
        <input type="text" class="form-control" id="groupName" name="groupName">
    </div>

    <div class="mb-3">
        <label for="kmsKeyId" class="form-label">Kms Key Id</label>
        <input type="text" class="form-control" id="kmsKeyId" name="kmsKeyId">
    </div>

    <div class="mb-3">
        <label for="logGroupClass" class="form-label">Log Group Class</label>
        <select class="form-select" id="logGroupClass" name="logGroupClass" >
            {{#each logGroupOptions}}
            <option value="{{value}}">{{label}}</option>
            {{/each}}
        </select>
    </div>

    <button class="btn btn-outline-secondary" type="reset">Reset</button>
    <button class="btn btn-outline-success" type="submit">Create</button>
</form>
