
<h2>Create Policy</h2>

<form method="post">

    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" autofocus="true">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" id="description" name="description">
    </div>
    <div class="mb-3">
        <label for="policyDocument" class="form-label">Policy Document</label>
        <textarea class="form-control" id="policyDocument" rows="3" name="policyDocument"></textarea>
    </div>

    <button class="btn btn-outline-secondary" type="reset">Reset</button>
    <button class="btn btn-outline-success" type="submit">Create</button>
</form>