
<h2>Create Table Item - {{tableName}} </h2>

<a onclick="addTableItem('{{tableName}}')" role="button" class="btn btn-outline-primary">Save</a>
<div id="jsoneditor" style="height: 80vh;" class="mt-2"></div>

<script src="https://cdn.jsdelivr.net/npm/jsoneditor@10.1.0/dist/jsoneditor.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/jsoneditor@10.1.0/dist/jsoneditor.min.css" rel="stylesheet">

<script>
    // create the editor
    var container = document.getElementById("jsoneditor")
    var options = {
        modes: ['code', 'tree'],
        mode: 'code',
    }

    var editor = new JSONEditor(container, options)
    editor.set({{{ stringItem }}});

    function addTableItem(tableName) {

        /* create form element */
        const form = document.createElement('form');
        form.method = 'POST';
        form.action = '/dynamodb/add-table-item';

        const json = editor.get();

        const params = {
            tableName: tableName,
            item: JSON.stringify(json),
        };

        /* create form input elements with hidden attribute */
        for (const key in params) {
            if (params.hasOwnProperty(key)) {
                const hiddenField = document.createElement('input');
                hiddenField.type = 'hidden';
                hiddenField.name = key;
                hiddenField.value = params[key];

                form.appendChild(hiddenField);
            }
        }

        /* append form to document and submit */
        document.body.appendChild(form);
        form.submit();

    }

</script>