
<h2>Certificate Details - {{arn}}</h2>

<div class="mt-2 row gx-2 gy-2">
    <div class="col-6">
        <h4>Certificate</h4>
        <div class="border p-4 m-2">
            {{certificate}}
        </div>
    </div>
    <div class="col-6">
        <h4>Certificate Chain</h4>
        <div class="border p-4 m-2">
            {{chain}}
        </div>
    </div>
</div>
