
<h2>Create SQS Queue</h2>

<form class="mt-2" method="post">

    <div class="mb-3">
        <label for="name" class="form-label">Queue Name</label>
        <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="fifoQueue" name="fifoQueue">
      <label class="form-check-label" for="fifoQueue">Fifo Queue</label>
    </div>
    

  <button type="reset" class="btn btn-secondary">Reset</button>
  <button type="submit" class="btn btn-primary">Create</button>
</form>
