
<h2>Elastic Cloud Compute</h2>

<a href="/ec2/create" role="button" class="btn btn-outline-primary">Create EC2</a>
<a href="/ec2/create-keys" role="button" class="btn btn-outline-primary">Create Keys</a>

<h4>Images</h4>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Actions</th>
            <th scope="col">Name</th>
            <th scope="col">Creation Date</th>
        </tr>
    </thead>
    <tbody>
        {{#each Images}}
        <tr>
            <th>
                <a href="/s3/remove?bucket={{Name}}" class="btn btn-outline-danger" type="button">Delete</a>
            </th>
            <th scope="row">
                <a href="/s3/details?name={{Name}}">{{Name}}</a>
            </th>
            <td>{{CreationDate}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
