

<h4>Create Stream</h4>

<form method="post">
    
    <div class="mb-3">
        <label for="streamName" class="form-label">Stream Name</label>
        <input type="text" class="form-control" id="streamName" name="streamName">
    </div>

    <div class="mb-3">
        <label for="shardCount" class="form-label">Shard Count</label>
        <input type="number" class="form-control" id="shardCount" name="shardCount">
    </div>

    <button class="btn btn-outline-secondary" type="reset">Reset</button>
    <button class="btn btn-outline-success" type="submit">Create</button>
</form>

