
<h2>Secret - {{secretId}}</h2>

<a role="button" href="/secrets-manager/remove?secretId={{secretId}}" class="btn btn-outline-danger">Delete</a>

<h4 class="mt-2">Details:</h4>
<pre>{{json details 2}}</pre>

